<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="../static/main/animations.css" th:href="@{/animations.css}" rel="stylesheet" />
    <link href="../static/main/style.css" th:href="@{/style.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <title>Home Page</title>
    <script>
        function preview() {
            let imageInput = document.getElementById("image-input");
            let image = document.getElementById("frameUrl");
            if (imageInput.value) image.src = imageInput.value;
            image.classList.add("uk-animation-slide-bottom-small", "image-preview-loading");

            frame.src=URL.createObjectURL(event.target.files[0]);
        }

        setTimeout(function(){
            $('.show-up').removeClass('show-up');
        },7000);

        setTimeout(function(){
            $('.show-up-mock').removeClass('show-up-mock');
        },5000);

        setTimeout(function(){
            $('#loader').addClass('hide');
            $('#loader').removeAttr('id');
        },7000);

    </script>
</head>
<body>
    <div id="loader">
        <div>
            <div id="shadow"></div>
            <div id="box"></div>
        </div>
    </div>

    <div class="menu">
        <div class="show-up-mock">
        </div>
        <!--<div th:replace="fragments/menu :: navbar"></div>-->
        <nav th:fragment="navbar" class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a class="nav-logo" href="#">PHOTOBLOG</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a th:href="@{/}">Home</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <a th:if="${userIsPresent == false}" th:href="@{/login}" type="button" class="new-post-button">ADD NEW POST</a>
                    <a th:if="${userIsPresent == false}" th:href="@{/login}" type="button" class="uk-active"><svg th:replace="fragments/svg :: key"></svg></a>

                    <button th:if="${userIsPresent == true}" href="#add-post" type="button" uk-toggle  class="new-post-button">ADD NEW POST</button>
                    <li th:if="${userIsPresent == true}" href="#panel" type="button" uk-toggle  class="uk-active"><svg th:replace="fragments/svg :: person"></svg></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="canvas">
        <div class="header-box">
            <!--<div th:replace="fragments/header :: header"></div>-->
            <div class="show-up-mock">
                <div class="mock"></div>
                <iframe src="https://player.vimeo.com/video/251646742?title=0&amp;loop=1&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=1&amp;api=1&amp;player_id=1" loop="" muted="" playsinline="" uk-video="autoplay: inview; automute: true"></iframe>
                <div>
                    <div class="header-title">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    </div>
                    <div class="header-search">
                        <div class="header-search-icon">
                            <svg class="search-svg" width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" data-svg="search-large"><circle fill="none" stroke="#fff" stroke-width="1.8" cx="17.5" cy="17.5" r="16.5"></circle><line fill="none" stroke="#fff" stroke-width="1.8" x1="38" y1="39" x2="29" y2="30"></line></svg>
                        </div>
                        <form action="#" method="post" th:action="@{/search}" th:object="${query}">
                            <input class="header-search-input" type="search" placeholder="Search..." th:field="*{description}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-box-2 show-up-mock">
                <div class="mock"></div>
                <div>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <button>BUTTON</button>
                </div>
            </div>


           <!-- <div th:replace="fragments/header :: author"></div>-->
        </div>
        <div class="category-box">
            <div th:each="tag : ${allTags.subList(0,11)}"><a th:href="|search?query=%23${tag.name.substring(1)}" class="show-up-mock" th:text="${tag.name.substring(1)}">CATEGORY</a></div>
            <!--<div th:replace="fragments/category :: category-item"></div>-->
            <div><a class="show-up-mock" href="#all-tags" type="button" uk-toggle>...</a></div>
        </div>
        <div class="content-box">
<!--            <div class="content-filer">
                <ul>
                    <li><a class="active">🔥Hot</a></li>
                    <li><a>OPTION</a></li>
                </ul>
            </div>-->
            <div class="content-box-container" th:each="POSTS : ${groupedPosts}">
                <div th:class="|show-up content-post ${post.getPatternItem()}|" th:each="post : ${POSTS}" >
                    <div class="reactions">
                        <div class="like">
                            <a th:text="${post.getNumberOfLikes()}"  uk-icon="heart"></a>
                        </div>
                        <div class="comment">
                            <a th:text="${post.getNumberOfComments()}" uk-icon="comment"></a>
                        </div>
                    </div>
                    <div class="user" th:text="|@${post.userName}|">@user</div>
                    <a th:href="|#post-modal${post.id}|" type="button" uk-toggle>
                        <img  class="photo-url uk-animation-reverse uk-transform-origin-top-right" th:src="${post.getPhotoUrl()}" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                    </a>
                    <!--Modal-->
                    <div th:id="|post-modal${post.id}|" class="post-modal" uk-modal>
                        <div class="post-modal-homepage uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <button class="uk-modal-close-outside" type="button" uk-close></button>
                            <div class="post-modal-image">
                                <img th:src="${post.getPhotoUrl()}">
                            </div>
                            <div class="post-modal-description uk-animation-slide-bottom-small">
                                <p th:text="${post.getDescription()}"></p>
                                <div >
                                    <div class="post-modal-relations">
                                        <div class="post-modal-like">
                                            <a th:text="${post.getNumberOfLikes()}" uk-icon="heart"></a>
                                          <!--  <svg th:replace="fragments/svg :: like"></svg>-->
                                        </div>
                                        <div class="post-modal-comment">
                                            <a th:href="|/posts?id=${post.getId()}|" th:text="${post.getNumberOfComments()}" uk-icon="comment"></a>
                                            <!--<svg th:replace="fragments/svg :: comment"></svg>-->
                                        </div>
                                        <div class="post-modal-add-comment"><a th:href="|/posts?id=${post.getId()}|">ADD COMMENT</a></div>
                                    </div>
                                    <div class="post-modal-readmore">
                                        <a th:href="|/posts?id=${post.getId()}|">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--<div th:replace="fragments/list :: filter-list"></div>-->
            <!--<div th:replace="fragments/post :: post-item"></div>-->
        </div>
        <div class="footer-box">
            <!--<div th:replace="fragments/footer :: footer"></div>-->
            <p>©2020 Grzegorz Szczerba</p>
        </div>
        <div class="modals">

            <!--<div th:replace="fragments/login :: login-modal"></div>-->
            <div th:id="login" uk-modal>

                <div class="post-modal-login uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                    <form class=" uk-animation-slide-bottom-small">
                        <form action="#" th:action="@{/login}" method="post" >
                            <label>Login</label>
                            <input id="username" name="username" type="text" placeholder="Login"><br><br>
                            <label>Password</label>
                            <input id="password" name="password" type="password" placeholder="Password" >
                            <p>
                                <input type="checkbox" id="remember-me" name="remember-me"/> Remember me
                            </p>
                            <button type="submit" value="Login">SUBMIT</button>
                        </form>
                    </form>
                </div>
            </div>
            <!--<div th:replace="fragments/add-post :: add-post-modal"></div>-->
            <div th:id="add-post" uk-modal>
                <div class="post-modal-add-post uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                    <div class=" uk-animation-slide-bottom-small">
                        <!--/*@thymesVar id="newPosts" type="pl.gregorymartin.b01.core.mapping.model.PostWriteModel"*/-->
                        <form action="#" method="post" th:action="@{/submit}" th:object="${newPost}">
                                <label>Url</label>
                                <textarea id="image-input" th:field="*{photoUrl}" placeholder="write url..." onchange="preview()"></textarea>
                                <label>Description</label>
                                <textarea rows="5" th:field="*{description}" placeholder="write description..." name="lname"></textarea>
                                <button type="submit">Submit</button>
                            <img class="img-preview image-preview" id="frameUrl" src=""/>
                        </form>

                    </div>
                </div>
            </div>

            <div th:id="all-tags" uk-modal>
                <div class="post-modal-all-tags uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                    <div class="uk-animation-slide-bottom-small">
                        <h1>All tags</h1>
                        <div class="all-tags-container">
                            <a th:href="|search?query=%23${tag.name.substring(1)}" th:each="tag : ${allTags.subList(11,allTags.size()-1)}" th:text="${tag.name.substring(1)}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
